
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.headernav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
    height: 5vh;

}
.navlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    text-transform: uppercase;
}
.navlist li{
    margin: 10px;
    margin-bottom: 20px;
}
.navlist li a{
    text-decoration: none;
    color: #e76d2c;
    font-weight: bold;
    font-size: 20px;
   

}
.navlist li a:hover{
    color: #FFA500;
}
.logo{
 margin-top: 20px;
 font-size: 40px;
 color: #e76d2c;

}
.masked-text {
    font-size: 3rem;
    margin-top: 20px;
    font-weight: bold;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #e76d2c;
    background-image: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);

}
.quote-card{
    width: 700px;
    background-color: white;
    border-radius: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
}
.quote-card h3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

.quote-card .quote-content{
 margin: 35px 0;

}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 22px;
    text-align: center;
    font-weight: 400;
}
.text i{
    font-size: 15px;
}
.text i:first-child{
    margin: 3px 10px 0 0;
}
.text i:last-child{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;

}
.quote-content .author{
    display: flex;
    justify-content: flex-end;

    font-size: 18px;
    font-style: italic;

}
.quote-card .buttons{
    border-top: 1px solid;

}

.buttons .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.icons ul{
    list-style: none;
    display: flex;
}
.icons ul li{
    margin: 0 5px;
    font-size: 20px;
    border: 2px solid #e76d2c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    justify-content: center;
    color: #e76d2c;
    cursor: pointer;
   
}
.icons ul li:hover{
    background-color: #e76d2c;
    color: white;
}
.icons button{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: #e76d2c;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.icons button:hover{
    background-color: #e76d2c;
    color: white;
}
 button.loading{
    opacity: 0.7;
    background-color: #e76d2c;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: orange;

}
.container{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    

}
.search-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #ccc;
    margin-bottom: 20px;
   
}
.search-container button{
    background-color: #e76d2c;
    color: white;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 10px;
}
.search-container button:hover{
    opacity: 0.8;
}
.search-container i{
    cursor: pointer;

}
.search-container input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #ccc;

}
.search-container i{
    margin: 10px;

}
.word .details i{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 4px;
}

.results{
    display: none;
}


.container ul li{
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
}

ul .word p{
    font-size: 22px;
    font-weight: bold;
}
ul .word span{
    font-size: 16px;
    color: #ccc;
}
.details{
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid #e76d2c;

}
.synonyms .details .list{
    display: flex;
    flex-wrap: wrap;
    
}
.synonyms .details .list span{
    font-weight: 500;
    font-size: 20px;
    padding: 1px;
    text-decoration: underline;
    cursor: pointer;
}




.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-container{
    position: relative;
    width: 850px;
    height: 550px;
    background-color: #f8f8f8;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
 

}
.form-box{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 40px;
    z-index: 2;
   
}
.form-box.register{
    visibility: hidden;
}
form{
    width: 100%;

} 
.container h2{
    font-size: 40px;
    color: white;
}
.input-box{
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    padding: 13px;
    background-color: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;

}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

}
.forget-link{
    
    text-decoration: none;
    margin-bottom: 20px;
}
.forget-link a{
    color: #333;
    text-decoration: none;
}
.btn{
    width: 100%;
    height: 48px;
    background-color: #e76d2c;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.toggle-box::before{
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    left: -250%;
    background: #e76d2c;
    border-radius: 250px;
    z-index: 2;
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #e76d2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
   
  
}
.toggle-panel.toggle-right{
    right: -50%;
}
.toggle-panel.toggle-left{
    left: 0;
}
.login-container.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: 0.6s;
}
.login-container.active .toggle-panel.toggle-right{
    right: 50%;
}
.toggle-panel p{
    font-size: 18px;
    text-align: center;
}

.toggle-panel .btn{
    width: 160px;
    height: 40px;
    border: 2px solid;
    background: transparent;
    box-shadow: none;
}

