
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.headernav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
    height: 10vh;

}
.navlist{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    text-transform: uppercase;
}
.navlist li{
    margin: 10px;
}
.navlist li a{
    text-decoration: none;
    color: #e76d2c;
    font-weight: 400;
}
.logo{
 margin-top: 20px;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #e76d2c;
    background-image: linear-gradient(315deg, #e76d2c 0%, #FFA500 74%);

}
.quote-card{
    width: 700px;
    background-color: white;
    border-radius: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
}
.quote-card h3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

.quote-card .quote-content{
 margin: 35px 0;

}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 22px;
    text-align: center;
    font-weight: 400;
}
.text i{
    font-size: 15px;
}
.text i:first-child{
    margin: 3px 10px 0 0;
}
.text i:last-child{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;

}
.quote-content .author{
    display: flex;
    justify-content: flex-end;

    font-size: 18px;
    font-style: italic;

}
.quote-card .buttons{
    border-top: 1px solid;

}

.buttons .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.icons ul{
    list-style: none;
    display: flex;
}
.icons ul li{
    margin: 0 5px;
    font-size: 20px;
    border: 2px solid #e76d2c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    justify-content: center;
    color: #e76d2c;
    cursor: pointer;
   
}
.icons ul li:hover{
    background-color: #e76d2c;
    color: white;
}
.icons button{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: #e76d2c;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.icons button:hover{
    background-color: #e76d2c;
    color: white;
}
 button.loading{
    opacity: 0.7;
    background-color: #e76d2c;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: orange;

}
.container{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    

}
.search-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #ccc;
    margin-bottom: 20px;
   
}
.search-container button{
    background-color: #e76d2c;
    color: white;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 10px;
}
.search-container button:hover{
    opacity: 0.8;
}
.search-container i{
    cursor: pointer;

}
.search-container input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #ccc;

}
.search-container i{
    margin: 10px;

}
.word .details i{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 4px;
}
.container .results {
    display: none;
}

.container ul li{
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ccc;
}

ul .word p{
    font-size: 22px;
    font-weight: bold;
}
ul .word span{
    font-size: 16px;
    color: #ccc;
}
.details{
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid #e76d2c;

}
.synonyms .details .list{
    display: flex;
    flex-wrap: wrap;
}